<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Difficulty</string>
			<key>Key</key>
			<string>difficulty</string>
			<key>DefaultValue</key>
			<string>Normal</string>
			<key>Titles</key>
			<array>
				<string>Easy</string>
				<string>Normal</string>
				<string>Hard</string>
			</array>
			<key>Values</key>
			<array>
				<array>
					<integer>9</integer>
					<integer>9</integer>
					<integer>10</integer>
				</array>
				<array>
					<integer>16</integer>
					<integer>16</integer>
					<integer>40</integer>
				</array>
				<array>
					<integer>30</integer>
					<integer>16</integer>
					<integer>99</integer>
				</array>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Vibrate</string>
			<key>Key</key>
			<string>vibrate</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Quick Open</string>
			<key>Key</key>
			<string>quickOpen</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Press Duration</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>pressLength</string>
			<key>DefaultValue</key>
			<real>0.35</real>
			<key>MinimumValue</key>
			<real>0.1</real>
			<key>MaximumValue</key>
			<real>0.7</real>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
